### Python Data Structures

In [ ]:
1)Lists

In [2]:
li=[]
type(li)

list

In [3]:
li #Access the entire list

[]

In [5]:
li=[1,2,34,45]

In [7]:
li[1] #index starts with 0

2

In [8]:
li[0:] #Accessing all elements

[1, 2, 34, 45]

In [9]:
# Reverse of a list
li[::-1]

[45, 34, 2, 1]

In [10]:
li

[1, 2, 34, 45]

In [11]:
li[::2]

[1, 34]

In [12]:
li[1::2]

[2, 45]

In [13]:
name="bhargavi"

In [15]:
mylist=[]

In [18]:
print(type(name),type(mylist))

<class 'str'> <class 'list'>

In [19]:
mylist=list()
type(mylist)

list

In [20]:
name=["hi","hello"]
type(name)

list

In [21]:
len(name) #Length

2

In [22]:
name[0]

'hi'

### List Methods

## Append
* To add new elements in the available list

In [24]:
name[0]

'hi'

In [26]:
name

['hi', 'hello']

In [27]:
name.append("Kasi")

In [28]:
name

['hi', 'hello', 'Kasi']

In [29]:
new_Persons=["Sravani","Aruna"]

In [31]:
name.append(new_Persons)

In [34]:
name

['hi', 'hello', 'Kasi', ['Sravani', 'Aruna']]

In [35]:
len(name)

4

## Extend Method
*

In [37]:
names1=["Hi","Hello"]

In [38]:
names1

['Hi', 'Hello']

In [52]:
new_persons=["Kasi","Bhargavi"]

In [53]:
names1.extend(new_persons)

In [54]:
names1

['Hi', 'Hello', 'Kasi', 'Bhargavi']

## Copy()
*To take new backup of available list

In [40]:
Baru=[1,2,3,4,5]

In [42]:
c=Baru.copy()

In [43]:
c

[1, 2, 3, 4, 5]

In [44]:
girls=["Bhargavi","Sravani"]

In [45]:
girls

['Bhargavi', 'Sravani']

In [46]:
girls[0]="Bhagi"

In [47]:
girls

['Bhagi', 'Sravani']

In [48]:
dir(girls)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### clear()
* To remove all items in list

In [49]:
girls

['Bhagi', 'Sravani']

In [50]:
girls.clear()

In [51]:
girls

[]

### Count(item)
*It can search for given item and return the number of ocurences in a list

In [57]:
girls=["Bhargavi","Sravani","Aruna","Divya","Bhargavi"]

In [58]:
girls

['Bhargavi', 'Sravani', 'Aruna', 'Divya', 'Bhargavi']

In [59]:
girls.count("Bhargavi")

2

In [60]:
numbers=[1,2,3,4,[2,4,6]]

In [61]:
numbers.count(2)

1

In [62]:
numbers.count(6)

0

### Index(item,start_index)
* Return index of 1st occurence of the item in list if available.Otherwise value shows error

In [64]:
numbers.index(2)

1

In [67]:
num=[1,2,3,4,5,2,3,4,]
num.index(3,4)

6

### insert(index_value,item)
* if given index available it can add item at given index otherwise it adds last index

In [68]:
num

[1, 2, 3, 4, 5, 2, 3, 4]

In [69]:
num.insert(2,22)

In [70]:
num

[1, 2, 22, 3, 4, 5, 2, 3, 4]

In [71]:
num.insert(30,20)

In [72]:
num

[1, 2, 22, 3, 4, 5, 2, 3, 4, 20]

### pop()
* Method used to remove the items in the specified index

In [73]:
num

[1, 2, 22, 3, 4, 5, 2, 3, 4, 20]

In [74]:
num.pop()

20

In [75]:
num

[1, 2, 22, 3, 4, 5, 2, 3, 4]

In [76]:
num.pop(2)

22

In [77]:
num

[1, 2, 3, 4, 5, 2, 3, 4]

### Remove()
* Removes specific item

In [78]:
num

[1, 2, 3, 4, 5, 2, 3, 4]

In [79]:
num.remove(2)

In [80]:
num

[1, 3, 4, 5, 2, 3, 4]

### Reverse()
* reverse the items

In [82]:
num

[1, 3, 4, 5, 2, 3, 4]

In [83]:
num.reverse()

In [84]:
num

[4, 3, 2, 5, 4, 3, 1]

### Sort()
* Sort the items in alphabatically

In [85]:
num

[4, 3, 2, 5, 4, 3, 1]

In [86]:
num.sort()

In [87]:
num

[1, 2, 3, 3, 4, 4, 5]

In [88]:
cars=["Ford","BMW","Volvo"]
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [90]:
cars=["Ford","BMW","Volvo"]

In [91]:
cars.sort(reverse=True)
cars

['Volvo', 'Ford', 'BMW']

In [92]:
marks=[[10,20],[30,10],[15,30]]
marks.sort(reverse=True)
marks

[[30, 10], [15, 30], [10, 20]]

### Examples

### Function to identify the second largest elements in a unique list
### Sort the data and select the second last element
### Sort the data in reverese order and select the second element
### Remove the max element and then get the max of the new list

In [1]:
li=[1,2,3,4,5]

In [2]:
def secondLargestlist(li):
    li.sort()
    return li[-2]
secondLargestlist(li)

4

In [8]:
#Remove the max element and then get the max of the new list
def lar(li):
    li.sort()
    li.pop()
    return li
li=[7,2,5,1]
li=lar(li)
print(li.pop())

5

In [5]:
s="1 2 3 4 5 6"
li=s.split(" ")
numberlist=[]
for i in li:
    numberlist.append(int(i))
numberlist

[1, 2, 3, 4, 5, 6]