In [1]:
list1=[10,20,34,44,88]

In [3]:
print(max(list1))

88

In [4]:
print(min(list1))

10

## Take a list of elements and add that list into another empty list
## Sort the list of elements in ascending order and descending order.

In [5]:
list1=[2,8,4,12,20,45,1]

In [6]:
new_list=[]

In [8]:
new_list

[]

In [9]:
new_list=list1.copy()

In [10]:
new_list

[2, 8, 4, 12, 20, 45, 1]

In [11]:
new_list.sort(reverse=False)

In [12]:
new_list

[1, 2, 4, 8, 12, 20, 45]

In [13]:
new_list.sort(reverse=True)

In [14]:
new_list

[45, 20, 12, 8, 4, 2, 1]

## Given a two list of equal size create a set such that it shows the
## element from both lists in the pair.

In [22]:
list1=[1,2,3,4,5]
list2=[2,3,4,5,6]

In [23]:
s=set()

In [25]:
for i in range(0,len(list1)):
    s.add(list1[i])
    s.add(list2[i])

In [26]:
s

{1, 2, 3, 4, 5, 6}

## Write a python program to print the sum and average of elements in the list.

In [28]:
list1=[10,20,34,44,88]
a=sum(list1)
n=len(list1)
avg=a/n
print(a)
print(avg)

196
39.2