## Dictionaries

In [1]:
list1=[10,20,30]

In [2]:
list1[0]

10

In [3]:
dict1={}
dict1={'key1':10,'key2':20}
dict2={'key1':'val1','key2':'val2'}
dict3={1:2,2:4}

In [5]:
dict1['key1']

10

In [6]:
dict3[2]

4

## Dictionary Methods
* In dictionary we have 11 methods

### 1)get()
    * Used to retrieve any value based on keys

In [7]:
dict1={'k1':100,'k2':200,'k3':300}
dict2=dict1.get('k2')
dict2

200

### 2)keys(),values(),items()
    * Used to retrieve particular values like only keys,only values

In [8]:
dict1

{'k1': 100, 'k2': 200, 'k3': 300}

In [9]:
dict1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [10]:
dict1.values()

dict_values([100, 200, 300])

In [11]:
dict1.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

### 3)update()
    * used to update(modify,insert) the already available dictionary value,It will add at last

In [13]:
student={'name':'Bhargavi','pin':123,'branch':'cse','age':18}

In [14]:
student.update({'age':20})

In [15]:
student

{'name': 'Bhargavi', 'pin': 123, 'branch': 'cse', 'age': 20}

In [17]:
student.update({'cell':9876543210})

In [18]:
student

{'name': 'Bhargavi',
 'pin': 123,
 'branch': 'cse',
 'age': 20,
 'cell': 9876543210}

### 4)setdefault(key,modified_value)
    * It will fix that item as constant we can't modify that item value

In [20]:
student.setdefault('age',21)

20

In [21]:
student

{'name': 'Bhargavi',
 'pin': 123,
 'branch': 'cse',
 'age': 20,
 'cell': 9876543210}

### 5)copy()
* It will copies the dictionary into another

In [23]:
student2=student.copy()

In [24]:
student2

{'name': 'Bhargavi',
 'pin': 123,
 'branch': 'cse',
 'age': 20,
 'cell': 9876543210}

### popitems()
### pop()
### clear()
* All these methods are used to remove the items from the dictionary

In [25]:
d={1:'a',2:'b',3:'c'}

In [27]:
d.popitem()

(3, 'c')

In [28]:
d

{1: 'a', 2: 'b'}

In [29]:
d.pop(1)

'a'

In [30]:
d

{2: 'b'}

In [31]:
d.clear()

In [32]:
d

{}

In [33]:
d1={'name1':'Bhargavi','name2':'Sravani','name3':'Aruna'}

In [34]:
d2={'pin1':123,'pin2':234,'pin3':345}

In [35]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [53]:
d1

{'name1': 'Bhargavi', 'name2': 'Sravani', 'name3': 'Aruna'}

In [54]:
d2

{'pin1': 123, 'pin2': 234, 'pin3': 345}

In [55]:
d1.update(d2.copy())

In [56]:
d1

{'name1': 'Bhargavi',
 'name2': 'Sravani',
 'name3': 'Aruna',
 'pin1': 123,
 'pin2': 234,
 'pin3': 345}

In [ ]:
# Write a python program to merge 4 dictionaries into one dictionary

In [68]:
d1={'name1':'Bhargavi','name2':'Sravani','name3':'Aruna'}

In [69]:
d2

{'pin1': 123, 'pin2': 234, 'pin3': 345}

In [70]:
d3={'branch1':'Cse','branch2':'Ece','branch3':'Mech'}

In [71]:
d4={'e1':2016,'e2':2017,'e3':2018}

In [61]:
d5={}

In [72]:
for i in (d1,d2,d3,d4):
    d5.update(i)

In [73]:
d5

{'name1': 'Bhargavi',
 'name2': 'Sravani',
 'name3': 'Aruna',
 'pin1': 123,
 'pin2': 234,
 'pin3': 345,
 'branch1': 'Cse',
 'branch2': 'Ece',
 'branch3': 'Mech',
 'e1': 2016,
 'e2': 2017,
 'e3': 2018}

## Python program to build a contacts application

In [12]:
contacts={}

In [13]:
def addContacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("Contact added")
    else:
        print("Contacts is alreadt exist")
    return
addContacts('Vara',8074829453)
addContacts('Vijaya',9876543210)

Contact added
Contact added

In [14]:
contacts

{'Vara': 8074829453, 'Vijaya': 9876543210}

In [15]:
addContacts('Vara',9123456678)

Contacts is alreadt exist

In [16]:
contacts.update({'Vara':912345678})

In [17]:
contacts

{'Vara': 912345678, 'Vijaya': 9876543210}

## Take a Dictionary students={1:['anupallavi','cse'],2:['madhuri','ece'],3:['Mohini','civil']}
## Output:
## 1:['anupallavi','cse']
## 2:['madhuri','ece']

In [85]:
students={1:['anupallavi','cse'],2:['madhuri','ece'],3:['Mohini','civil']}

In [96]:
for i in students:
    print(i,":",students[i])

1 : ['anupallavi', 'cse']
2 : ['madhuri', 'ece']
3 : ['Mohini', 'civil']

In [97]:
d={}
for i in range(1,11):
    d[i]=i+1
print(d)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11}

In [108]:
d1={'n1':100,'n2':200,'n3':300}
s=0
c=0
for i in d1.values():
    s+=i
print(s)
print(s/len(d1.keys()))

600
200.0

In [112]:
# Write a program to find multiplication of dictionary values
d={'n1':1,'n2':2,'n3':3,'n4':4,'n5':5}
res=1
for i in d.values():
    res*=i
print(res)

120

In [9]:
list1=[10,20,30]
list2=[100,200,300]
dict1={}
for i in range(0,len(list1)):
    dict1[list1[i]]=list2[i]
print(dict1)

{10: 100, 20: 200, 30: 300}