## Tuples
- Collection of elements which is ordered manner.Tuples are immutable

In [1]:
t=(10,20,30)

In [2]:
type(t)

tuple

In [3]:
print(t)

(10, 20, 30)

In [4]:
for i in t:  #Accessing each element in a tuple
    print(i)

10
20
30

In [6]:
t[0:3:2]

(10, 30)

In [8]:
first_tuple=("Bhargavi",20,"Vijaya",23)

In [9]:
print(first_tuple)

('Bhargavi', 20, 'Vijaya', 23)

In [10]:
first_tuple[0]

'Bhargavi'

In [11]:
print(len(t))

3

## Tuple Methods

### count()- returns the count of particular item occurence
### index()

In [12]:
t.count(20)

1

In [14]:
first_tuple.count('Bhargavi')

1

In [15]:
l=[1,2,3]

In [16]:
cities=('Delhi','Hyderabad','Mumbai')

In [17]:
b=cities[:-1]

In [18]:
b

('Delhi', 'Hyderabad')

In [19]:
len(b)

2

In [25]:
l=list(b)
print(l)
print(" l is :{0}".format(l))

['Delhi', 'Hyderabad']
 l is :['Delhi', 'Hyderabad']

In [28]:
l=tuple(l)
print(l)
print("c is now a tuple:{0}".format(l))

('Delhi', 'Hyderabad')
c is now a tuple:('Delhi', 'Hyderabad')

In [1]:
x=("Akhil","Sai","Chaitanya","Mamatha","Moounika","Vijaya")
y=list(x)
y[1]="Seshu kumar"
x=tuple(y)
print(x)

('Akhil', 'Seshu kumar', 'Chaitanya', 'Mamatha', 'Moounika', 'Vijaya')

In [32]:
if "divya" in x:
    print("yes")
else:
    print("no")

no

In [33]:
y=(10,20,30,40,50)
y[5]=60     # It generate an error because tuples are immutable so we can't change.

TypeError: 'tuple' object does not support item assignment

In [34]:
dir(y)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [35]:
y

(10, 20, 30, 40, 50)

In [36]:
del y

In [37]:
y

NameError: name 'y' is not defined

In [38]:
y=(1,2,3)

In [39]:
del y[1]

TypeError: 'tuple' object doesn't support item deletion

In [40]:
a=("a","b","c","d")
b=(1,2,3,4)
c=a+b
print(c)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

## Tasks

In [51]:
# Program to convert given tuple into string
t=('1','2','3','4')
d="".join(t)
print(d)

1234

In [47]:
#Python program to reverse the given elements in tuple.
t=(2,4,6,8,10)
print(t[::-1])

(10, 8, 6, 4, 2)

In [49]:
#Python program to print names in tuples using iterations
t=("Bhargavi","Sravani","Aruna")
for i in t:
    print(i)

Bhargavi
Sravani
Aruna

## Sets
- A group of elements.Sets are mutable.It contains unordered items and un-indexed

In [53]:
s={10,20,30}
print(s)

{10, 20, 30}

In [54]:
s={10,20,30,10} # It eleminates the duplicate items
print(s)

{10, 20, 30}

In [55]:
s[0] # Tuples are un-indexed

TypeError: 'set' object does not support indexing

In [3]:
name={"Bhargavi","Sravani","Aruna"}

In [57]:
for i in name:
    print(i)

Bhargavi
Aruna
Sravani

In [58]:
print("Kasi" in name)

False

In [59]:
print("Bhargavi" in name)

True

## Add()

In [4]:
name.add("Meghana")

In [5]:
name

{'Aruna', 'Bhargavi', 'Meghana', 'Sravani'}

In [62]:
type(name)

set

## Update()

In [6]:
name.update(["Mounika","Tulasi"])
print(name)

{'Aruna', 'Meghana', 'Bhargavi', 'Sravani', 'Tulasi', 'Mounika'}

## len()

In [7]:
print(len(name))

6

## remove()

In [8]:
name.remove("Mounika")

In [ ]:
print(name)

{'Tulasi', 'Meghana', 'Bhargavi', 'Aruna', 'Sravani'}

## discard()

In [10]:
name.discard("Bhargavi")

In [11]:
print(name)

{'Aruna', 'Meghana', 'Sravani', 'Tulasi'}

## pop()

In [12]:
name.pop() # it will deletes elements from last
print(name)

{'Meghana', 'Sravani', 'Tulasi'}

## clear()

In [13]:
name.clear()

In [14]:
name

set()

In [15]:
dir(name)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## del()

In [16]:
s={"Bhargavi","Mounika","Vijaya"}

In [17]:
del s

In [18]:
s

NameError: name 's' is not defined

## Union()

In [2]:
s1={1,2,3}
s2={9,8,7}
s3=s1.union(s2)

In [4]:
print(s3)
print(s1)

{1, 2, 3, 7, 8, 9}
{1, 2, 3}

## Intersection()

In [24]:
s1={1,2,3,4,5}
s2={2,4,6,8,10}
s3=s1.intersection(s2)
print(s3)

{2, 4}

## difference()

In [25]:
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}

In [26]:
s2.difference(s1)

{6, 8, 10}

## difference_update

In [27]:
s1.difference_update(s2)

In [28]:
s1

{1, 3, 5}

In [29]:
s1={1,2,3}
s2={1,2,34,5,6}
s1.issubset(s2)

False

In [30]:
s2={12,3,2,1,45}

In [31]:
s2.issubset(s1)

False

In [32]:
s1.issubset(s2)

True

In [33]:
help(s1.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [34]:
s1

{1, 2, 3}

In [35]:
s2

{1, 2, 3, 12, 45}

In [36]:
s1.symmetric_difference(s2)

{12, 45}

In [37]:
s2.symmetric_difference(s1)

{12, 45}

## Task

In [38]:
#Take two sets and print the result using methods like 

#Intersection_update',
# 'isdisjoint',
 #'issuperset',
# 'symmetric_difference',
# 'symmetric_difference_update'
# and so on.

In [39]:
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3, 12, 45}

In [40]:
s1.intersection_update(s1)

In [41]:
print(s1)

{1, 2, 3}

In [42]:
s1.isdisjoint(s2)

False

In [43]:
s2.isdisjoint(s1)

False

In [44]:
s3={5,6,7}

In [45]:
s1.isdisjoint(s3)

True

In [46]:
s2.issuperset(s1)

True

In [47]:
s1.symmetric_difference(s2)

{12, 45}

In [48]:
s1.symmetric_difference_update(s2)

In [49]:
s1

{12, 45}

In [50]:
s4={}
print(s4)

{}

In [52]:
s4=s1.copy()

In [53]:
print(s4)

{12, 45}

# Packages and Modules
### package - Collection of modules
### Modules-A single python file containing functions
### Package--->Sub packags---->Modules--->Functions

# Modules

In [58]:
def hi(name):
    print("Hello",name)

In [59]:
import firstmodule
firstmodule.hi("Bhargavi")

TypeError: bad operand type for unary +: 'str'

## Packages

In [60]:
from math import floor as f1
f1(2345.89)

2345

In [62]:
import random 
def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
        
rand(10,1,50)

39 7 13 31 9 45 47 26 20 27

In [67]:
from packages.numerical import isPrime
isprime(3)

ModuleNotFoundError: No module named 'packages'

In [69]:
from math import sqrt
sqrt(125)
sqrt(25)

5.0